.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.imgCtr {
    order: 2;
    width: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.imgCtr img {
    width: 100% !important;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about img {
    width: 300px !important;
}

.about h3 {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    font-weight: 500;
}

.about a {
    border: none;
    cursor: pointer;
    background-color: rgb(27, 27, 27);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.3s;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.about a:hover {
    background-color: #c9c9c9;
    color: rgb(0, 0, 0);
}


@media (max-width: 950px) {
    .container {
        flex-direction: column;
    }

    .imgCtr {
        order: 0;
        width: 70%;
        min-width: 400px;
    }

    .about {
        margin-top: 40px;
    }

    .about a {
        margin-bottom: 15px;
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .imgCtr {
        min-width: 350px;
    }
}