.container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 5%;
}

.imgCtr {
    width: 500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container img {
    width: 100% !important;
    display: block;
}

.about {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about h2 {
    font-size: 3rem;
}

.about h3 {
    font-size: 1.5rem;
    color: rgb(65, 65, 65);
}

.about button {
    border: none;
    cursor: pointer;
    background-color: #c9c9c9;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px 10px;
    transition: all 0.3s;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.about button:hover {
    background-color: black;
    color: white;
}