.container {
    width: 100%;
    max-width: 1600px;
    height: 50px;
    padding-left: 4%;
    display: flex;
    align-items: center;
    margin: 0px auto;
}

.container ul {
    display: flex;
    list-style: none;
}

.container ul li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    border-radius: 20px;
    padding: 6px 10px;
    transition: all 0.3s;
    border: 2px solid transparent;
}

.container ul a li {
    font-size: 15px;
    font-weight: 700;
}

.github_link {
    background-color: black;
    color: white;
}

.linkedin_link {
    background-color: #0063C1;
    color: white;
}

.projects_link {
    background-color: #F7E018;
    color: rgb(4, 4, 4);
}

.container ul li:hover {
    border: 2px solid black;
}

@media (max-width: 500px) {
    .container {
        width: 100vw;
        padding-left: 0%;
    }

    .container ul {
        width: 100%;
        padding: 0px 0px;
    }
}

@media (max-width: 450px) {

    .container ul {
        padding-left: 0%;
    }

}