.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    margin-top: -20px;
}

.container h3 {
    max-width: 500px;
    text-align: center;
    padding-top: 40px;
    font-size: 2rem;
    font-weight: 400;
}

.container button {
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    background-color: transparent;
    font-weight: 400;
    color: #276ce2;
    border: 1px solid #276ce2;
    transition: all 0.3s;
    margin-top: 10px;
}

.container button:hover {
    background-color: #276ce2;
    color: rgb(255, 255, 255);
}

.emojis {
    width: 400px !important;
    margin-top: 30px !important;
}

@media (max-width: 800px) {
    .container button {
        font-size: 1.3rem;
    }

    .emojis {
        width: 300px !important;
        margin-top: 30px !important;
    }
}