.wrapper {
    max-width: 1600px;
    margin: 0px auto;
    width: 100%;
    display: flex;
    padding: 2% 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1 {
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box1 img {
    border-radius: 5px;
}

.box2 {
    flex: 1;
    padding-left: 40px;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box2 h3 {
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;
}

.box2 h5 {
    padding: 5px 0px;
    border-radius: 20px;
    width: fit-content;
    font-size: 1rem;
    color: #276ce2;
    text-align: center;
}

.box2 p {
    font-size: 1.1rem;
    margin-top: 20px;
    font-weight: 500;
    text-align: center;
    max-width: 70%;
}

.btnCtr {
    margin-top: 25px;
}

.btnCtr button {
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 1rem;
    background-color: #EFD81D;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: 2px solid #EFD81D;
    transition: all 0.3s;
}

.btnCtr button:nth-child(2) {
    background-color: white;
    border-color: #e1e1e1;
}

.btnCtr button:hover {
    background-color: #276ce2;
    border: 2px solid #276ce2;
    color: #ffffff;
}

.sectionFlip {
    background-color: black;
    color: white;
}

@media (max-width: 1100px) {
    .wrapper {
        flex-direction: column;
        padding: 2% 5%;
    }

    .box1 {
        order: 0 !important;
        display: flex;
        justify-content: center;
    }

    .box1 img {
        max-width: 650px !important;
    }

    .box2 {
        margin: 20px auto;
        max-width: 700px;
        align-items: center;
        padding-left: 0px;
    }

    .box2 p {
        font-size: 1.2rem;
        margin-top: 20px;
        text-align: center;
        max-width: 90%;
    }
}

@media (max-width: 800px) {
    .wrapper {
        flex-direction: column;
        padding: 5%;
    }

    .box1 {
        order: 0 !important;
        display: flex;
        justify-content: center;
    }

    .box1 img {
        max-width: 550px !important;
    }

    .box2 {
        margin: 20px auto;
        max-width: 700px;
        align-items: center;
    }

    .box2 h3 {
        font-size: 2.5rem;
    }

    .box2 h5 {
        font-size: 1.5rem;
    }

    .box2 p {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .btnCtr button {
        font-size: 1.3rem;
    }
}

@media (max-width: 600px) {
    .box1 img {
        width: 100% !important;
    }

    .wrapper {
        padding-bottom: 40px;
    }
}