.container {
    background-color: black;
}

.wrapper {
    width: 100%;
    color: white;
    display: flex;
    padding: 30px 40px;
    max-width: 1600px;
    margin: 0px auto;
}

.container h4 {
    font-size: 1.4rem;
    margin-bottom: 5px;
    color: rgb(85, 85, 85);
    font-weight: 700;
}

.container a {
    font-size: 1.1rem;
    color: rgb(225, 225, 225);
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    display: inline-block;
    padding: 4px;
}

.container a:hover {
    color: #4A9BA0;
}

.resources {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.recommendations {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.wrapper a {
    margin-top: 5px;
}

.links {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.info {
    flex: 1;
    text-align: right;
    padding: 20px;
}

.info h5 {
    font-size: 1.5rem;
}

@media (max-width: 1000px) {
    .container h4 {
        font-size: 1.2rem;
    }

    .container a {
        font-size: 1rem;
    }

    .info h5 {
        font-size: 1.3rem;
    }
}

@media (max-width: 800px) {
    .wrapper {
        flex-direction: column;
        padding: 20px 40px;
    }

    .container h4 {
        font-size: 1.8rem;
    }

    .container a {
        font-size: 1.4rem;
    }

    .info h5 {
        font-size: 2rem;
        text-align: center;
    }
}