.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    background-color: #E1E1E1;
}

.container img {
    width: 300px !important;
}

.container p {
    max-width: 700px;
    font-size: 2rem;
}

.container p span {
    background-color: #EFD81D;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 600;
    color: rgb(48, 48, 48);
}