.container {
  width: 100vw;
  height: 580px;
  /* background: rgb(0, 188, 221); */
  display: flex;
}

.box1 {
  padding-left: 5%;
  flex: 1;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box1 h1 {
  font-size: 7rem;
  font-weight: 900;
}

.box1 h3 {
  font-size: 3rem;
  font-weight: 900;
}

.box2 {
  flex: 1;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 img {
  display: block;
  width: 500px !important;
  /* height: 500px; */
  /* border-radius: 50%; */
  object-fit: cover;
}