.container {
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
  min-height: 80vh;
  display: flex;
}

.box1 {
  padding-left: 5%;
  flex: 1;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box1 h1 {
  font-size: 7rem;
  font-weight: 900;
  line-height: 6.5rem;
}

.box1 h2,
.box1 h4 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #00163b;
}

.box1 h3 {
  max-width: 630px;
}

.box1 h4 {
  margin-top: 10px;
}

.box1 h1::selection {
  background-color: #276CE2;
}

.box1 h3::selection,
.box1 h4::selection {
  background-color: #EFD81D;
}

.box2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  align-items: center;
  padding: 0px 50px;
  margin-top: 30px;
}

.projects div:first-child {
  flex: 0.9;
  height: 5px;
  border-top: 7px dashed black;
}

.projects div:last-child {
  flex: 0.1;
  height: 5px;
  background-color: #000000;
}

.projects h3 {
  font-size: 3rem;
  font-weight: 900;
  padding: 0px 10px;
  color: #EFD81D;
  text-shadow: -3px 2px 0px #000000;
}

.projectEnd {
  width: 90%;
  margin: 3% 5% 0% 5%;
  border-top: 15px dashed black;
}

@media (max-width: 800px) {

  .container {
    flex-direction: column;
  }

  .box1 {
    align-items: center;
    order: 2;
    padding-left: 0%;
  }

  .box1 h1,
  .box1 h2 {
    padding: 10px;
  }

  .box1 h2 {
    font-size: 1.7rem;
  }

  .box1 h3,
  .box1 h4 {
    font-size: 1.7rem;
    padding: 10px 20px;
  }

  .box1 h4 {
    padding-top: 0px;
  }

  .projects h3 {
    font-size: 2.5rem;
  }

  .projectEnd {
    width: 90%;
    margin: 7% 5% -3% 5%;
    border-top: 10px dashed black;
  }
}

@media (max-width: 500px) {
  .box1 {
    align-items: flex-start;
    order: 2;
    padding-left: 2%;
  }

  .box1 h3,
  .box1 h4 {
    padding-left: 0%;
    text-align: left;
  }

  .projects {
    padding: 0px 40px;
  }
}