.container {
    width: 100%;
    display: flex;
}

.box1 {
    flex: .7;
    display: flex;
    justify-content: center;
    padding: 20px;
    order: 2;
}

.box2 {
    flex: .4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    order: 1;
}

.box2 img {
    width: 200px !important;
}

.logoCtr {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.logoCtr:nth-child(1) {
    background-color: #bbe7ff;
    border: 4px solid #00D8FF;
}

.logoCtr:nth-child(2) {
    background-color: rgb(252, 255, 158);
    border: 4px solid #F0DC4E;
}

.aboutBox {
    width: 90%;
    height: auto;
    background-color: #1D1D1D;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    border-radius: 7px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.aboutBox p {
    padding: 20px;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.7rem;
}

.aboutBox p span {
    color: #6F6F6F;
}

.aboutHead {
    padding-left: 5px;
    width: 100%;
    height: 30px;
    background-color: #3B3B3B;
    display: flex;
    align-items: center;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.aboutHead div {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: red;
    margin-left: 10px;
}

.aboutHead div:nth-child(2) {
    background-color: #FABA32;
}

.aboutHead div:nth-child(3) {
    background-color: #24C642;
}

.curlyBraces {
    color: #c200cc !important;
}

.objString {
    color: #e9e900 !important;
}

.objBoolean {
    color: rgb(0, 74, 223) !important;
}

.cardProfile {
    width: 70%;
    height: auto;
    background-color: rgb(241, 241, 241);
    /* transform: skew(14deg); */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 4px solid rgb(0, 0, 0);
}

.profilePhoto {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.profilePhoto img {
    width: 180px !important;
    height: 180px !important;
    border-radius: 50%;
    object-fit: cover;
}

.profileDetails {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileDetails h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.profileDetails h4 {
    font-weight: 400;
}

.profileFooter {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.profileFooter a {
    font-size: 0.8rem;
    background-color: rgb(208, 208, 208);
    color: rgb(0, 0, 0);
    margin-top: 5px;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileFooter a img {
    width: 15px !important;
    display: block;
}