.container {
    width: 100%;
    display: flex;
    /* background-color: red; */
    padding-top: 20px;
}

.box1 {
    flex: .65;
    display: flex;
    justify-content: center;
    padding: 20px;
    order: 2;
    overflow-x: scroll;
    white-space: nowrap;
}

.box2 {
    min-width: 380px;
    flex: .35;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
    order: 1;
}

.box2 img {
    width: 200px !important;
}

.logoCtr {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.logoCtr:nth-child(1) {
    background-color: #bbe7ff;
    border: 4px solid #00D8FF;
}

.logoCtr:nth-child(2) {
    background-color: rgb(252, 255, 158);
    border: 4px solid #F0DC4E;
}

.aboutBox {
    width: 90%;
    height: auto;
    background-color: #1D1D1D;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    border-radius: 7px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.aboutBox p {
    padding: 20px;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.7rem;
    margin-right: 30px;
}

.aboutBox p span {
    color: #6F6F6F;
}

.aboutHead {
    padding-left: 5px;
    width: 100%;
    height: 30px;
    background-color: #3B3B3B;
    display: flex;
    align-items: center;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.aboutHead div {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: red;
    margin-left: 10px;
}

.aboutHead div:nth-child(2) {
    background-color: #FABA32;
}

.aboutHead div:nth-child(3) {
    background-color: #24C642;
}

.curlyBraces {
    color: #c200cc !important;
}

.objString {
    color: #e9e900 !important;
}

.objBoolean {
    color: rgb(0, 74, 223) !important;
}

.cardProfile {
    position: relative;
    width: 70%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid rgb(211, 211, 211);
}

.profilePhoto {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.profilePhoto img {
    width: 180px !important;
    height: 180px !important;
    border-radius: 50%;
    object-fit: cover;
}

.profileDetails {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}

.profileDetails h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.profileDetails h4 {
    font-weight: 400;
    color: rgb(0, 74, 223);
}

.profileFooter {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.profileFooter a {
    font-size: 0.8rem;
    background-color: #dedede;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.profileFooter a img {
    width: 15px !important;
    display: block;
}

.tapeSection {
    width: 80px;
    height: 30px;
    background-color: rgba(255, 228, 228, 0.83);
    position: absolute;
    right: -5%;
    top: -3%;
    transform: rotate(90deg)
}

.tapeSection2 {
    width: 80px;
    height: 30px;
    background-color: rgba(255, 228, 228, 0.83);
    position: absolute;
    left: -5%;
    top: -3%;
    transform: rotate(90deg)
}

@media (max-width: 1000px) {
    .box1 {
        flex: 1;
        padding: 0px;
    }

    .box2 {
        flex: 1;
        /* background-color: red; */
    }

    .cardProfile {
        padding: 25px 15px;
    }

    .aboutBox {
        font-size: 1rem;
        width: 90%;
        min-width: 400px;
    }

    .aboutBox p {
        overflow-x: scroll;
        white-space: nowrap;
        /* background-color: red; */
    }

    .cardProfile {
        width: 90%;
    }

    .container {
        padding-top: 70px;
    }
}

@media (max-width: 800px) {
    .box1 {
        flex: .7;
        padding: 40px 0px;
        width: 100%;
    }

    .box2 {
        flex: .4;
    }

    .aboutBox {
        font-size: 1.3rem;
    }

    .profileDetails {
        font-size: 1.6rem;
    }

    .profileDetails h3 {
        font-size: 2rem;
    }

    .profileFooter a {
        font-size: 1.2rem;
    }

    .container {
        padding-top: 70px;
        font-size: 20px;
        flex-direction: column;
        align-items: center;
        padding-top: 90px;
    }
}

@media (max-width: 750px) {

    .container {
        font-size: 15px;
        width: 100%;
        padding-top: 90px;
        flex-direction: column;
        align-items: center;
    }

    .box1 {
        width: 100%;
        flex: 1;
        padding: 40px 0px;
        /* background-color: blue; */
    }

    .box2 {
        width: 100%;
        flex: .4;
        max-width: 350px;
    }
}

@media (max-width: 650px) {

    .container {

        width: 100%;
        padding-top: 90px;
        flex-direction: column;
        align-items: center;
    }

    .box1 {
        width: 100%;
        flex: 1;
        padding: 40px 0px;
        /* background-color: blue; */
    }

    .box2 {
        width: 100%;
        flex: .4;
        max-width: 350px;
    }

    /* .aboutBox {
        font-size: 1.2rem;
        width: 95%;
        max-width: 600px;
    } */
}