.wrapper {
    max-width: 1600px;
    margin: 0px auto;
    width: 100%;
    padding: 5% 10%;
}

.wrapper h3 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 7px;
}

.wrapper h4 {
    font-size: 1.2rem;
    text-decoration: underline;
    text-decoration-color: #0652d7;
    text-decoration-thickness: 2px;
}

.wrapper p {
    font-size: 1.1rem;
    margin-top: 20px;
    font-weight: 600;
}

.wrapper b {
    color: #0652d7;
    font-weight: 600;
}

@media (max-width: 800px) {
    .wrapper {
        padding: 5%;
    }


    .wrapper h4 {
        font-size: 1.5rem;
    }

    .wrapper p {
        font-size: 1.5rem;
    }
}