.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    max-width: 1600px;
    margin: 0px auto;
}

.container h3 {
    flex: 1;
    font-size: 3rem;
    font-weight: 900;
    padding: 30px 0px;
    padding-right: 20px;
}

.container div {
    width: 500px;
    height: 330px;
    border: 20px solid black;
    cursor: pointer;
}

.container img {
    width: 500px !important;
    height: 290px !important;
    object-fit: cover;
    transition: all 0.5s;
}

.container img:hover {
    transform: scale(1.03);
    filter: invert();
}

.container a {
    transition: all 0.3s;
}

.container a:hover {
    color: #EFD81D !important;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .container div {
        width: 380px;
        height: 270px;
    }

    .container img {
        width: 380px !important;
        height: 230px !important;
    }

    .container h3 {
        text-align: center;
    }
}